name: CI

on:
  push:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2.3.4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1.7.2
      with:
        dotnet-version: 5.0.100

    - name: Build
      run: dotnet build -c Release

    - name: Solve all
      run: dotnet run -c Release --no-build -- all
      working-directory: ./AdventOfCode
